<!DOCTYPE html>
<html>
<head>
  <title>Ticketron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <h1 class="ticketron">Ticketron</h1>

  <% if current_user %>
    <ul class="navbar-links">
      <li>Logged in as <a href="/users/edit"><%= current_user.email %></a></li>
      <li><%= link_to 'Log out', '/users/sign_out', method: :delete %></li>
    </ul>
  <% else %>
    <ul class="navbar-links">
    <li><a class="nav-link" href="/users/sign_up">Sign Up</a></li>
      <li><a class="nav-link" href="/users/sign_in">Log In</a></li>
    </ul>
  <% end %>


  <ul class="navbar-links">
    <li><a class="nav-link" href="/all">Issues</a></li>
    <li><a class="nav-link" href="/developers">Developers</a></li>
  </ul>
</div>

<hr>
<hr>

<%= yield %>

<% if Rails.env.development? %>
 <p> <%=params[:controller] %>#<%= params[:action]%> </p>
<% end %>

</body>
</html>
